includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        - identifier: trait.unused
          paths:
              - src/Translatable/Translatable.php
              - src/Translatable/Traits/Relationship.php
              - src/Translatable/Traits/Scopes.php

    # Avoid "always true/false" when the type comes from PHPDoc.
    treatPhpDocTypesAsCertain: false
